<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site em Python</title>
</head>
<body>
    <h1>Como criar sites e sistemas em Python</h1>

    <p>Embora muitos achem que Python só serve para back-end, você pode usálo para criar sites e sistemas super dinâmicos. Nessa breve página, darei um resumo de como fazer isso.</p>

    <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D0sxWFeFlsHs&psig=AOvVaw17YfCFDmVp2gH85wUlYdcR&ust=1690594312857000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCPjP_OahsIADFQAAAAAdAAAAABAD" target="_blank"><img src="https://i.ytimg.com/vi/0sxWFeFlsHs/maxresdefault.jpg" alt="como criar sites em Python" height="400"></a>
    
    <hr>

    <h3>Bibliotecas</h3>

    <p>As melhores e mais famosas bibliotecas utilizadas para a criação de sites em Python são: <strong>biblioteca Request, Framework Flask</strong> (estou utilizando essa agora) e claro, o <strong>Django</strong>. Este último é o mais famoso e utilizado por grandes empresas, como a <a href=""><em>Google</em></a>, <em>Netflix</em>, entre outras gigantes. Em breve criarei uma página ensinando cada um desses métodos.</p>


</body>
</html>